<section>

    <div class="card-content">
        <p>Control and launch your mars rover.</p>
        <p>Current status : {{vm.roverStatus}}</p>
    </div>
    <div class="card-action clearfix">
        <a href="" class="btn btn-link btn-icon" data-ng-click="vm.moveRoverLeft()"><i class="md-keyboard-arrow-left red-text"></i></a>
        <a href="" class="btn btn-link btn-icon" data-ng-click="vm.moveRoverDown()"><i class="md-keyboard-arrow-down red-text"></i></a>
        <a href="" class="btn btn-link btn-icon" data-ng-click="vm.moveRoverUp()"><i class="md-keyboard-arrow-up red-text"></i></a>
        <a href="" class="btn btn-link btn-icon" data-ng-click="vm.moveRoverRight()"><i class="md-keyboard-arrow-right red-text"></i></a>
        <div class="pull-right">
            <a href="" class="btn btn-link black-text" data-ng-click="vm.addRoverToMars()">Launch Rover</a>
        </div>
    </div>



</section>